# Local .terraform directories
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Ignore override files as they are usually local
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraform.rc
terraform.rc

# Sensitive variable files
*.tfvars
*.tfvars.json

# IDE/editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db


.terraform.lock.hcl
